* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */


}

body > * {
 margin: 1vmin;
 padding: 1vmin;
 background-color: gray;
}

.grid > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: green;
}

.introduction > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: lightblue;
}

.introduction >  div {

  padding: 1vmin;
  background-color: lightgreen;
}

.intro-left > * {
  /* margin: 1vmin; */
  padding: 1vmin;
  background-color: pink;
}

.info > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: red;
}

img {
  max-width: 100%;
}
