/* Coloring page to see all containers */
*{
  margin: 1vmin;
  padding: 1vmin;
}

body {
  margin: 1vmin;
  padding: 1vmin;


}

/* .grid {
  margin: 1vmin;
  padding: 1vmin;
  background-color: lightgray;
}

.grid > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: lightgreen;
}

.grid header nav ul > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: orange;
}

.introduction {
  margin: 1vmin;
  padding: 1vmin;
  background-color: blue;
}

.introduction > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: lightblue;
}

.intro-left > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: pink;
}

.info{
  margin: 1vmin;
  padding: 1vmin;
  background-color: green;
}

.info > * {
  margin: 1vmin;
  padding: 1vmin;
  background-color: pink;
} */
/* grid for the .grid  */
.grid {
  display: grid;
  grid-template-rows: auto repeat(2, minmax(1fr, auto));
}

.grid header nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  list-style: none;
}

.grid header nav ul li {

  text-align: center;
}

.grid header nav ul li a {
text-decoration: none;
text-transform: uppercase;
background-color: darkgray;
padding: 1vmin 2vmin ;
color: white;


}

.grid header nav ul li a:hover {
color: black;
background-color: white;
box-shadow: 5px 5px 10px darkgray;

}

.introduction {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 2fr;
  grid-gap: 1vmin;
  background-color: lightblue;
}

.introduction > .intro-left {
  background-color: lightgray;
  padding: 1vmin;
  box-shadow: 5px 5px 10px darkgray;

}

.introduction .intro-left > * {
  padding: 1vmin;
}

.introduction .intro-right {
  box-shadow: 5px 5px 10px darkgray;
}

.introduction .intro-right >  img
{
  background-color: lightgray;
  width: 100%;
  padding: 1vmin;
}
.info {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-gap: 1vmin;
}

.info article {
  background-color: lightgray;
  box-shadow: 5px 5px 10px darkgray;
}

.info article > * {
  padding: 1vmin;
}

footer{
  text-align: center;

}

img {
  max-width: 100%;
}
